# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/
build/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# prisma
apps/api/prisma/migrations/dev.db*

# misc
*.tsbuildinfo
